body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.Logo{
    width: 300px;
    cursor: pointer;
}

.cart{
  width:40px ; 
  height: 40px ;
  position: relative;
  top: 10px;
  cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
    text-decoration: none;
}

a{
  cursor: pointer;
}

.Slogan{
    position: relative;
    left: 26px;
    top: -20px;
}


.buttonOne{
  background-color: rgb(207, 203, 203);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border: none;
  position: relative;
  font-size: 16px;
  left: 170px;
  width: 165px;
  cursor: pointer;
}

.buttonTwo{
  background-color: rgb(207, 203, 203);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border: none;
  position: relative;
  font-size: 16px;
  left: 220px;
  width: 165px;
  cursor: pointer;
}

.buttonThree{
  background-color: rgb(207, 203, 203);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border: none;
  position: relative;
  font-size: 16px;
  left: 270px;
  width: 165px;
  cursor: pointer;
}

.buttonFour{
  background-color: rgb(207, 203, 203);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border: none;
  position: relative;
  font-size: 16px;
  left: 320px;
  width: 165px;
  cursor: pointer;
}

.buttonFive{
  background-color: rgb(207, 203, 203);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border: none;
  position: relative;
  font-size: 16px;
  left: 370px;
  width: 165px;
  cursor: pointer;
}

.checkout{
  margin-top: 20px;
  padding: 10px 10%;
  font-size: 20px;
}

.row{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}


    input{
  padding: 10px;
  width: 300px;
}

.input-box{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}

.div2{  
  margin-left: 30px;
  border-left: 3px solid black;
  padding-left: 20px;
  height: 350px;
}
.div2 p{
  text-align: center;
}
.div3{
  margin-left: 50px;
  width: 400px;
  height: 350px;
  padding:10px;
  font-size: 18px;
  background: rgb(238, 238, 238);
}
.div3 .blue{
  background: rgb(199, 230, 244);
  padding: 20px;
}



.rightalign{
  float: right;
}


.div3 .total{
    margin : 30px 0;
    font-weight: 900;
}

.btn-group{
  background: rgb(100, 146, 191);
  color: white;
  font-size: 18px;
  width: 100%;
  padding: 10px ;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}